* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15px;
}

.container h2 {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

input:focus, button:focus {
    outline: none;
}

#input {
    margin-top: 20px;
    border-radius: 20px;
    border: solid white;
    width: 100%;
    color: white;
    font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: black;
}

#problem, #timeLeft{
    color: white;
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

#timeLeft {
    margin-top: 20px;
}

.div_container {
    display: flex;
    justify-content: center;
}

button {
    visibility: hidden;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
    border: solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: 20px;
}